
<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

{% block title %}
    INSTRUCTIONS
{% endblock %}

{% block content %}

<div class="instructions woman">

    <h3 class="panel-sub-heading">
        INSTRUCTIONS
    </h3>

    <p>
        You will be presented with these allocation choices concerning two different partners. You  will receive the details about your partner later on in the experiment.
After you have made your choices concerning the allocation of the resource, we will present you a number of questions that will have no impact on your final earnings.

    </p>
    <p>
        In the following you will be represented by the following pictogram (in red) :
    </p>

    <p>
    <center><img src="/static/img/wife.png"/ height="300" align="center"></center><br><br>
    </p>
    <p>
        You will be presented with these allocation choices concerning two different partners. You  will receive the details about your partner later on in the experiment.
After you have made your choices concerning the allocation of the resource, we will present you a number of questions that will have no impact on your final earnings.

   The other participants in this study will be represented by other pictograms. See the table below:

<table style="width:100%">
  <tr>
    <td>Your family (in red)</td>
    <td>You</td>
      <td><center><img src="/static/img/wife.png"/ height="300" align="center"></center><br><br></td>
    <td>Your husband</td>
      <td><center><img src="/static/img/husband.png"/ height="300" align="center"></center><br><br></td>
  </tr>
  <tr>
    <td rowspan="3">Other unknown families</td>
  </tr>
  <tr>
    <td>Wife in Family A</td>
    <td><center><img src="/static/img/other wife.png"/ height="300" align="center"></center><br><br></td>
    <td>Husband in Family A</td>
      <td><center><img src="/static/img/other husband.png"/ height="300" align="center"></center><br><br></td>
  </tr>
    tr>
    <td>Wife in Family B</td>
    <td><center><img src="/static/img/other wife.png"/ height="300" align="center"></center><br><br></td>
    <td>Husband in Family B</td>
      <td><center><img src="/static/img/other husband.png"/ height="300" align="center"></center><br><br></td>
  </tr>
    tr>
    <td>Wife in Family C</td>
    <td><center><img src="/static/img/other wife.png"/ height="300" align="center"></center><br><br></td>
    <td>Husband in Family C</td>
      <td><center><img src="/static/img/other husband.png"/ height="300" align="center"></center><br><br></td>
  </tr>
    <tr>
    <td colspan="3">Etc.</td>
  </tr>
</table>

</p>
       <p> At the end of the study (i.e. in approximately xx weeks) we will determine the final earnings for each participant through a random draw. This random draw will be done in three steps
    </p>
    <p>- Which set of allocation choices will be used (i.e. those with respect to partner 1 or partner 2).</p>
<p>- Who in this interaction will determine the final outcome (i.e. either you or your partner in that interaction)</p>
<p>-  Which question (out of the 5) will determine the final earnings.</p>

    <p>For example: to determine your final earnings, we will first roll a dice to determine which set of allocation choices will be used. If the dice shows either an 1, 2 or 3: it will be the choices with respect to your first interaction partner, If the dice shows an 4, 5 or 6: it will be the choices with respect to your second interaction partner. Once we have determined your interaction partner we will flip a coin to determine whether we will select the choices by you or the choices by your partner to determine the earnings. Finally, we will select one out of five balls from an urn to determine which of the five questions will determine your final outcome.
</p>

    <p>To insure your anonymity, neither you nor your partner will be informed about the choices by others nor about outcome of the random draw. You will simply receive a message concerning the total earnings you will receive from this study.


</div>

    {% next_button %}

{% endblock %}


{% block title %}
    DECISIONS
{% endblock %}

{% block content %}
<div class="instructions woman">

    <h3 class="decisions">
        INSTRUCTIONS
    </h3>

    <p>
    We will now turn to the decisions.
    </p>
    <p>
    We will ask you to respond to 5 questions concerning the allocation of a financial resource between yourself and your partner.
    </p>
    <p>
    Each question in the picture below, represents two possible allocations of money between yourself and your partner. For each question you have to choose whether you prefer the allocation on the left or the allocation on the right.
    </p>

    <table style="width:100%">
  <tr>
    <td><center><img src="/static/img/wife.png"/ height="300" align="center"></center><br><br>
    <p>
    Person who is making the decision
    </p>
    </td>
    </table>
